/node_modules
/vendor
/.git
/.idea
/.vscode
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/database/database.sqlite
/public/hot
/public/storage
/public/images/product-options/uploads/*
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
pnpm-debug.log
.DS_Store
Thumbs.db
